    <!-- MODAL DE ERRO -->
    <%- include('modal-erro') %>

    <!-- SCRIPTS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- SCRIPT GERAL -->
    <script src="/js/script.js"></script>
</body>

</html>
