    <footer style="background-color: var(--cor-borda); color: var(--cor-texto-principal); padding: 20px; text-align: center; margin-top: 40px;">
        <p>&copy; 2026 CyberMonitoring - Sistema de Monitoramento de TI | SENAI</p>
    </footer>

    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pQsy+L2MaVJI2F/qJB7vqJMkrwR9L0z3vfnBhU7Md8T8kVqCgVxI7sZZPYH70Gq5"
        crossorigin="anonymous"></script>
    
    <!-- Script padrão -->
    <script src="/js/script.js"></script>
</body>

</html>
